<head>
    <title>PHP in HTML Example</title>
    <link rel='stylesheet' type='text/css' href='/vendor/twbs/bootstrap/dist/css/bootstrap.css'>
    <link rel='stylesheet' type='text/css' href='/src/Banner/banner.css'>
    <link rel='stylesheet' type='text/css' href='/src/Member/member.css'>
</head>