.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    background-image: url("https://www.scholarlms.com/wp-content/uploads/2017/06/scholarlms-post-key-features-choosing-learning-management-system.jpg");
}
.banner-text {
    font-size: 5em;
    color: azure;
}