<div class="container">
    {{#members}}
        <div class="row mt-3">
            <div class="col col-1">
                <img src="{{image_url}}" class="member-image">
            </div>
            <div class="col member-name">
                <span class="name-text">{{name}}</span>
            </div>
            <div class="col">
                <button onclick="sackPerson('{{name}}')">Sack</button>
            </div>
        </div>
    {{/members}}
</div>
<script>
    function sackPerson(name) {
        var xhttp = new XMLHttpRequest();
        // xhttp.onreadystatechange = function() {
            // if (this.readyState == 4 && this.status == 200) {
            //     document.getElementById("demo").innerHTML = this.responseText;
            // }
        // };
        xhttp.open("DELETE", "/team/member.php/" + name, true);
        xhttp.send();
    }
</script>